
/***** CONFIG. EM TODAS AS PÁGINAS ******/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
}

main {
    /* min-height: calc(100vh - 53px - 78px);  */
    padding-bottom: 10px;
}

header .navegação {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: 'Alata', sans-serif;
    float: left;
    font-weight: lighter;
    padding-left: 6px;
    padding-right: 6px;
    margin: 8px;
}

h1 {
    color: #000000;
    display: inline;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Literata', serif;
    

}


#menu {
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Literata', serif;
    color: #000000;

}

.navegação a {
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}

.navegação {
    width: 100%;
    margin:  0 auto;
    position: relative;
    /* background-color: #f5f5f2; */
    padding-bottom: 10px;
    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* overflow: hidden; */
    z-index: 100;
    padding-left: 20px;



/* From https://css.glass */
background: rgba(255, 255, 255, 0.411);
border-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);


}

body {
    background-color: #f5f5f2;
    /* background-color: #fff; */
    width: 100%;
    padding-top: 30px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #8fbc8f;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 96%;
    transform: scaleX(0);
    height: 1.6px;
    bottom: 0;
    left: 0;
    background-color: #8fbc8f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}





/* PÁGINA INICIAL (SOBRE) */

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    max-width: 80vw;
    margin: auto;
    margin-top: 75px;
}

.sobre a {
    text-decoration: none;
    color: #000000;
}

.fotoprincipal {
    height: auto;
    padding: 4px;
    float: left;
    padding-top: 100px;
    padding-right: 50px;
}

.fotoprincipal img {

    max-width: 300px;  
}

.paragrafo {
    font-weight: 400;
    display: block;
    text-align: justify;
    margin-right: 10%;
    position: relative;
    left: 80px;
    top: 80px; 
    padding-bottom: 70px; 
    float: right;
    
}

.paragrafo h3,
.tecnologia h3 {
    font-size: 30px;
    font-family: 'Literata', serif;
    color: #3a1507;
    
}

.paragrafo p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 2;
    padding-right: 40px;
    color: black;
    width: 50vw;
}

.tecnologia {
    display: block;
    justify-content: center;
    font-weight: 400;
    width: 76vw;
    top: 100px;  
    position: relative;
    margin: auto;
}

.tecnologia p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 2;
    padding-right: 40px;
    color: black;
    text-align: justify;
}

.tecnologia h3 {
    font-size: 25px;
}

.tecnologia img {
    width: 60px;
}

.tecnologiaseinfo {
    padding-bottom: 600px;
    padding-top: 60px;
}

.tecnologia ul li{
    width: 50%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    
    
    
}

.tecnologia li img {
    float: left;
}

.tecnologia ul p {
    padding-left: 65px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
    padding-top: 3px;
}


/* PÁGINA PINTURAS (EM CONSTRUÇÃO NO MOMENTO) */

.avisoconstrução {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* min-height: vh; */
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 9%;
}

.icone-construção {
    width: 30%;
    height: auto;
    float: left;
    padding: 40px;    
}

.icone-construção img {
    margin-top: 4px;
    max-width: 250px; 
}

.paragrafoconstrução {
    font-weight: 400;
    display: block;
    text-align: justify;
    margin-right: 10%;
    position: relative;
    left: 50px;
    top: 40px; 
    padding-bottom: 70px; 
}

.paragrafoconstrução h3 {
    font-size: 25px;
    font-family: 'Literata', serif;
    color: #592911;
}

.paragrafoconstrução p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 2;
    padding-right: 40px;
    color: rgba(87, 87, 87, 0.6);
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    font-size: 9px;
    font-family: 'Poppins', sans-serif;
    color: #c2c2c2;
    text-align: center; 
    margin-top: 100px;
    height: 55px;




    /* From https://css.glass */
background: rgba(255, 255, 255, 0.411);
border-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.3);

}

#stickyfooter {
    position: sticky;
    top:100%;
}

    
footer a {
    color: #c2c2c2;
    text-decoration: none;
}

#iconefooter {
    text-decoration: none;

}






/* PÁGINA CONTATO */


.contato {
    /* display: block; */
    height: 300px;
    /* position: absolute; */
    width: 450px;
    /* padding: 60px; */
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.411);
    border-radius: 19px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);


    

}

.contato img {
    max-width: 30px;
    float: left;
    margin-right: 20px;
}

.contato p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 2;
    /* padding-right: 40px; */
    color: #000000;
    /* float: right; */
    text-align: center;
    vertical-align: middle;
    display: table-cell;   
}

.email {
    /* margin: 0 auto; */
    position: absolute;
    /* top: 40%; */
    margin: 15px;
    display: inline-block;
    left: 20%;
    top:26%;
    
    
}

.telefone {
    /* margin: 0 auto; */
    position: absolute;
    /* top: 50%; */
    margin: 15px ;
    display: inline-block;
    left: 20%;
    top: 41%;
}

.github {
    /* margin: 0 auto; */
    position: absolute;
    /* top: 60%; */
    margin: 15px ;
    display: inline-block;
    left: 20%;
    top:56%;
}

.contato a {
    display: flex;
    /* padding-top: 0;
    padding-bottom: 0; */
    text-decoration: none;
    color: #000000;
}

ul {
    list-style-type: none;
}







/* PÁGINA FOTOGRAFIAS */


.titulo {
    margin-left: 140px;
    margin-top: 120px;
    color: #000000
}

.titulo h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.atelie:hover {
    opacity: 0.6;
}

.grid-fotografias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
    margin-left: 2%;
    /* margin-bottom: 200px; */

}

/*
.grid-fotografias a {
    width: 250px;
    height: auto;
}*/

.grid-fotografias img {
    width: 250px;
    padding: 10px;
    /*
    margin: 10px;
    margin-bottom:40px;
    */
}

.ateliehov_ {
    display: block;
    width: 250px;
    margin-top: 18%;
    margin-left: 20px;
    margin-right: 50px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 2;
    color: black;
    text-align: justify;
    /*
    background-color:#cfd8cf;*/
}

/*
.grid-fotografias a:hover+.ateliehov_ {
    display: block;
    position: absolute;
    left: 70%;
    top: 12%;
}*/
/* 
.ateliehov_ span {
    position: relative;

} */


/*
.ateliehov_ {
    background-color:rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    color:#fff;
    font-family:sans-serif;
    opacity:0;
    transition:opacity 0.3s;
}

.ateliehov_:hover {
    opacity:1;
}
*/






/* PÁGINA ATELIE */

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    margin-left: 2%;
}

.galeria img {
    max-width: 400px;
    max-height: 300px;
    margin: 40px;
    
}

.galeria img:hover {
    cursor: pointer;
    opacity: 0.6;
}

#FullImageView {
    display: none;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 5, 5, 0.952);
    text-align: center;
    z-index: 100;
    /* transform: translate(-50%, -50%); */

}

#FullImage {
    padding: 24px;
    /* max-width: 100vh; */
    max-height: 100vh;
    height: 100%; 

}

#CloseButton {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.containeratelie {
    margin-top: 5%;
}

.sectionatelie {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 150px;
    margin-bottom: 150px;

}

.sectionatelie img {
    max-height: 400px;
    margin-top: -150px;
}

.sectionatelie img:hover {
    cursor: pointer;
    opacity: 0.6;
}
/* #atelietitulo {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    margin-right: 30px;
    margin-top: 1.5%;
    color: #3a1507;
    font-family: 'Literata', serif;
    font-size: 17px;
    font-weight: bold;    
} */

#atelieparagrafo {
    color: black;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 14px;
    padding-right: 10vw;
    padding-top: 40px;
}

#atelieparagrafo a {
    text-decoration: none;
    color:  black;
}

